<!DOCTYPE html>
<!--

no sea zapo

fuck you 

-75.5675224, 6.1895338 # una de la calle 11sur

lela
{\"name\":\"Calle 11 Sur\",\"origin\":\"(-75.5614731, 6.188638)\",\"destination\":\"(-75.5639669, 6.1884576)\",\"length\":\"330.39400000000006\",\"oneway\":\"False\",\"harassmentRisk\":\"0.0\",\"geometry\":\"LINESTRING (-75.5614731 6.188638, -75.5614704 6.1886674, -75.56147439999999 6.1887114, -75.5614905 6.1887354, -75.56152539999999 6.1887567, -75.5619679 6.188822, -75.56221069999999 6.188858, -75.56244270000001 6.1888967, -75.5625366 6.1888567, -75.562663 6.1883903, -75.56310670000001 6.1883049, -75.5632354 6.1883049, -75.5638419 6.1884409, -75.56387549999999 6.1884464, -75.5639669 6.1884576)\",\"weights\":0.0,\"edges\":[[-75.5614731, 6.188638],[-75.5639669, 6.1884576]],\"node\":[-75.5614731, 6.188638]},

entrada el tesoro
-75.5608351 6.1960839

->-75.5614731, 6.188638
-->
<html>
<head>
	<title>Al Otro Lado</title>
<link rel="shortcut icon" href="https://raw.githubusercontent.com/entifais/ST0245-Plantilla/master/proyecto/codigo/alOtroLado/misc/img/logo1.png">
</head>
<body style="background-color:#0d0d0d; color: rgb(0,155,0)">
	<header>
		<center>
			<br>
			<h1><b>Al Otro Lado</b></h1>
			<img src="https://raw.githubusercontent.com/entifais/ST0245-Plantilla/master/proyecto/codigo/alOtroLado/misc/img/logo1.png">
			<br>
			<h4>el waze bueno y de codigo libre que calcula la mejor ruta respecto el acoso en medellin</h4>
			<br>
			<a href="https://github.com/jero98772/AlOtroLado">
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fsocial-media-iconez%2F64%2FGitHub-1024.png&f=1&nofb=1" height="150" width="150">
			<h4>repositorio del proyecto</h4>
			</a>
			<br>
			<br>
		</center>
	</header>
	<section>
		<h2>links importantes en esta pagina</h2>
		<ul>
			<li><a href="/">apliacion web</a></li>
			<li><a href="/about.html">informacion</a></li>

			<li><a href="/dotsdir.html">mapa con puntos y cordenadas</a></li>
			<li><a href="/heatmap.html">mapa de calor respecto al acoso</a></li>
			<li><a href="/medellingraph.html">medellin como un grafo</a></li>

			<li><a href="/data.json">datos completos</a></li>
			<li><a href="/nodes.json">datos como directorio de nodos</a></li>

		</ul>
	</section>

	<section>
		<h2>rutas de prueba</h2>
		<ul>
			<li><a href="/">concord el tesoro</a></li>
			<li><a href="/">Eafit a U la medellin</a></li>
			<li><a href="/">U antioquia a la nacional</a></li>
			<li><a href="/">U nacional a la luis amigo</a></li>
		</ul>
	</section>
	<section>
		<h2>Caracteristicas del Proyecto </h2>
		<ul>
			<li>apliacion web</li>
			<li>mapa interactivo</li>
			<li>datos limpios</li>
			<li>incluye mapa de calor </li>
			<li>version web</li>
			<li>version web</li>
			<li>version web</li>
			<li>version web</li>
		</ul>
	</section>
	<section>
		<h2>datos curiosos</h2>
		<ul>
			<li>el nombre hace referencia a los nombres que ponia fernando gonzales,nombres como: "otra parte", "una tesis", nombre simples y elegantes</li>
			<li>si no lo a notado tiene un estilo artistico inclinado a "dark Vaporwav" </li>
			<li>el color usado en los nodes de <a href="/medellingraph.html">"medellin como un grafo"</a> en algunas pantallas se ve como un morado, en otras se ve como morado,rojo y azul al mismo tiempo, este color es #8924FA</li>
		</ul>
	</section>
	<section>
		<h2>motivaciones de Daniel</h2>
		<ul>
			<li>mis amigos que manejan mapas: fede,brolin y alejandra y sus proyectos como <a href="http://daquina.io/">daquina</a></li>
		</ul>
	</section>
	<section>
		<h2>referencias del proyecto</h2>
		<ul>
			<li><a href="https://github.com/jero98772/AlOtroLado"> codigo github</a></li>
			<li><a href=""> mirror gitlab</a></li>
			<li><a href="https://github.com/entifais/ST0245-Plantilla/tree/master/proyecto/codigo"> desarrollo del proyecto</a></li>

		</ul>
	</section>
	<section>
		<h2>referencias externas</h2>
		<ul>
			<li>se uso codigo de B-feelLog para servir html de <a href="https://github.com/jero98772/B-FeelLog">B-feelLog</a></li>
  			<li>se uso librerias como flask ,pydeck y networkX</li>
		</ul>
	</section>
<center>
	
<h1><b>Al Otro Lado en ascii art</b></h1>
<pre style=" color: rgb(0,155,0)">
                                             
                      %                       
                      %                       
                    %%%%                     
                     %                       
                     %%                      
                    %%%%                     
                  %%%%                       
                %%%%                         
              %%%%%                          
             %%%%                            
           %%%%%                             
         %%%%%                               
       %%%%%                                 
      %%%%%                          %       
    %%%%%                          %%%%%     
   %%%%%                           %%%%%     
    %%%%%%                          %%%      
     %%%%%%%%                    %%%%%       
     %%%  %%%%%               %%%%% %%       
      %%%  %%%%%%   %%%  %%%%%%%%  %%%       
      %%%%    %%%%%%%%%%%%%%%%%    %%        
       %%%      %%%%%%%%%%%%      %%%        
       %%%%       %%%%%%          %%         
       %%%%%        %%%%         %%%         
        %%%%        %%%%        %%%          
        %%%%%      %%%%%%       %%%          
         %%%%      %%%%%%      %%%           
          %%%%     %%%%%%      %%%           
          %%%%%    %%%%%%     %%%            
           %%%%    %%%%%%     %%%            
            %%%%   %%%%%%%   %%%%            
            %%%%   %%%%%%%  %%%%             
             %%%% %%%%%%%% %%%%%             
             %%%% %%%%%%%% %%%%              
             %%%% %%%%%%%% %%%               
              %%%%%%%%%%%%%%%%               
               %%%%%%%%%%%%%%                
                %%%%%%%%%%%%                 
                %%%%%%%%%%%%                 
                 %%%%%%%%%%%                 
                 %%%%%%%%%%                  
                  %%%%%%%                   
                  %%%%%             
</pre>
</center>
</section>
</body>
</html>

{% extends  'template.html'%}
{% block content %}


{% endblock  %}
