<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header></header>
	<section>
		<h2>links importantes en esta pagina</h2>
		<ul>
			<li><a href="/">index</a></li>
			<li><a href="/dirdots.html">puntos y cordenadas</a></li>
			<li><a href="/data.json">datos</a></li>

		</ul>
	</section>
	<section>
		<h2>Caracteristicas</h2>
		<ul>
			
		</ul>
	</section>
	<section>
		<h2>referencias</h2>
	</section>
	<section>
		<h2>motivaciones</h2>
	</section>
</body>
</html>

{% extends  'template.html'%}
{% block content %}


{% endblock  %}
