<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div style="width:100%; height:55px; background-color:#0f0f0f; color: rgb(0,155,0)" >
    	<table  class="table">
    		<th><h2><p class="text-success">de donde vas</p></h2></th>
    		<th><input type="" name="" class="form-control"></th>
    		<th><h2><p class="text-success">a donde vas</p></h2></th>
    		<th><input type="" name="" class="form-control"></th>
    	</table>
	</div>
<center>
	<iframe src="/mapBase"  class="embed-responsive-item" style="width:1px; min-width:100%; border-width: 0px; height: 100%" allowtransparency="true" ></iframe>
</center>
